<h3>Inventory (Grams)</h3>
<canvas id="gramsChart" style="max-width: 400px; max-height: 400px;"></canvas>
<script>
    const gramsCtx = document.getElementById('gramsChart').getContext('2d');
    new Chart(gramsCtx, {
        type: 'polarArea',
        data: {
            labels: {{ g_labels|safe }},
            datasets: [{
                label: 'Grams in Stock',
                data: {{ g_data|safe }},
                backgroundColor: [
                    'rgba(194, 16, 16, 0.6)',
                    'rgba(218, 165, 32, 0.6)',
                    'rgba(40, 167, 69, 0.6)',
                    'rgba(20, 70, 214, 0.6)'
                ]
            }]
        }
    });
</script>

<h3>Inventory (Milliliters)</h3>
<canvas id="mlChart" style="max-width: 400px; max-height: 400px;"></canvas>
<script>
    const mlCtx = document.getElementById('mlChart').getContext('2d');
    new Chart(mlCtx, {
        type: 'polarArea',
        data: {
            labels: {{ ml_labels|safe }},
            datasets: [{
                label: 'Milliliters in Stock',
                data: {{ ml_data|safe }},
                backgroundColor: [
                    'rgba(194, 16, 16, 0.6)',
                    'rgba(218, 165, 32, 0.6)',
                    'rgba(40, 167, 69, 0.6)',
                    'rgba(20, 70, 214, 0.6)'
                ]
            }]
        }
    });
</script>

<h3>Inventory (Pieces)</h3>
<canvas id="piecesChart" style="max-width: 400px; max-height: 400px;"></canvas>
<script>
    const piecesCtx = document.getElementById('piecesChart').getContext('2d');
    new Chart(piecesCtx, {
        type: 'polarArea',
        data: {
            labels: {{ pieces_labels|safe }},
            datasets: [{
                label: 'Pieces in Stock',
                data: {{ pieces_data|safe }},
                backgroundColor: [
                    'rgba(194, 16, 16, 0.6)',
                    'rgba(218, 165, 32, 0.6)',
                    'rgba(40, 167, 69, 0.6)',
                    'rgba(20, 70, 214, 0.6)'
                ]
            }]
        }
    });
</script>
