<nav>
    <ul>
        <li style="display: inline;">
            <a href="{% url 'home' %}">Home</a>
        </li> |
        <li style="display: inline;">
            <a href="{% url 'place_order' %}">Place Order</a>
        </li> |
        <li style="display: inline;">
            <a href="{% url 'menu' %}">Menu</a>
        </li> |
        <li style="display: inline;">
            <a href="{% url 'inventory' %}">Inventory</a>
        </li> |
        <li style="display: inline;">
            <a href="{% url 'sales_report' %}">Sales Reports</a>
        </li>
    </ul>
</nav>