{% extends "_base.html" %}

{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <h2>Sales Report for {{ from_date|date:"n/d/y" }} {% if to_date %} to {{ to_date|date:"n/d/y" }}{% endif %}</h2>

    <form action="{% url 'sales_report' %}" method="post">
        {% csrf_token %}
        <p>Choose Custom Date Range</p>
        <label for="from_date">From:</label>
        <input type="datetime-local" id="from_date" name="from_date">
        <label for="to_date">To:</label>
        <input type="datetime-local" id="to_date" name="to_date">
        <button type="submit">Get Report</button>
    </form>

    <!-- Key Metrics-->
    <div class="metrics-summary">
        <h3>Key Metrics</h3>
        <p>Total Orders: {{ total_orders }}</p>
        <p>Total Revenue: ${{ total_revenue }}</p>
        <p>Total Cost: ${{ total_cost }}</p>
        <p>Total Profit: ${{ total_profit }}</p>
        <p>Average Order Value: ${{ average_order_price }}</p>
    </div>

    {% include "orders/charts/revenue_doughnut_chart.html" %}
    {% include "orders/charts/sales_ranking_bar_chart.html" %}
    {% include "orders/charts/orders_by_hour_bar_chart.html" %}
    {% if multi_day_range %}
        {% include "orders/charts/multi-day-profit-by-day-line-chart.html" %}
    {% endif %}

    <div class="todays-orders">
        <h3> Order Ledger</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Order Items</th>
                    <th>Order Revenue</th>
                    <th>Order Cost</th>
                    <th>Order Profit</th>
                    <th>Time Ordered</th>
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                    <tr>
                        <th>#{{ forloop.counter }}</th>
                        <th>
                            <ul>
                                {% for menu_item in order.orderitems.all %}
                                    <li>{{menu_item.menu_item}} X {{menu_item.quantity}}</li>
                                {% endfor %}
                            </ul>
                        </th>
                        <th>${{order.get_order_revenue}}</th>
                        <th>${{order.get_order_cost}}</th>
                        <th>${{order.get_order_profit}}</th>
                        <th>{{order.created_at|date:"n/d/y g:i A"}}</th>
                    </tr>
                {% empty %}
                    <tr>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>

{% endblock content %}