{% extends "_base.html" %}

{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <form action="{% url 'sales_report' %}" method="post">
        {% csrf_token %}
        <p>Choose Custom Date Range</p>
        <label for="from_date">From:</label>
        <input type="datetime-local" id="from_date" name="from_date">
        <label for="to_date">To:</label>
        <input type="datetime-local" id="to_date" name="to_date">
        <button type="submit">Get Report</button>
    </form>

    <h2>Sales Report for {{ from_date|date:"n/d/y" }} {% if to_date %} to {{ to_date|date:"n/d/y" }}{% endif %}</h2>

    <!-- Key Metrics-->
    <div class="metrics-summary">
        <h3>Key Metrics</h3>
        <p>Total Orders: {{ total_orders }}</p>
        <p>Total Revenue: ${{ total_revenue }}</p>
        <p>Total Cost: ${{ total_cost }}</p>
        <p>Total Profit: ${{ total_profit }}</p>
        <p>Average Order Value: ${{ average_order_price }}</p>
    </div>

    {% include "charts/revenue_doughnut_chart.html" %}
    {% include "charts/sales_ranking_bar_chart.html" %}
    {% include "charts/orders_by_hour_bar_chart.html" %}
    {% if multi_day_range %}
        {% include "charts/multi-day-profit-by-day-line-chart.html" %}
    {% endif %}

    <section class="container-fluid mt-4">
        <h3 class="display-3 mb-3"> Order Ledger</h3>
        <table class="table table-hover table-sm">
            <caption>Report Order List</caption>
            <thead class="table-primary">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-end">Order Items</th>
                    <th scope="col" class="text-center">Order Revenue</th>
                    <th scope="col" class="text-center">Order Cost</th>
                    <th scope="col" class="text-center">Order Profit</th>
                    <th scope="col" class="text-end">Time Ordered</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                
                {% for order in orders %}
                    <tr>
                        <th scope="row" class="text-center align-middle">#{{ forloop.counter }}</th>
                        <th>
                            <ul class="list-unstyled text-end align-middle">
                                {% for menu_item in order.orderitems.all %}
                                    <li class="fst-italic">{{menu_item.menu_item}} X {{menu_item.quantity}}</li>
                                {% endfor %}
                            </ul>
                        </th>
                        <th class="text-center align-middle">${{order.get_order_revenue}}</th>
                        <th class="text-center align-middle">${{order.get_order_cost}}</th>
                        <th class="text-center align-middle">${{order.get_order_profit}}</th>
                        <th class="text-end align-middle">{{order.created_at|date:"n/d/y g:i A"}}</th>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </section>

{% endblock content %}