{% extends '_base.html' %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <h2 class="display-2 mt-4 mb-5 text-center">Inventory List</h2>

    <section class="container-fluid mt-4">

        <table class="table table-hover table-sm shadow-sm">
            <caption>Inventory Stock List</caption>
            <thead class="table-primary">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-end">Item Name</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Unit Type</th>
                    <th scope="col" class="text-center">Cost/Unit</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for ingredient in ingredients %}
                    <tr>
                        <th scope="row" class="text-center">{{ forloop.counter }}</th>
                        <th class="text-end">{{ ingredient.name }}</th>
                        <th class="text-center">{{ ingredient.quantity_in_stock }}</th>
                        <th class="text-center">{{ ingredient.unit }}</th>
                        <th class="text-center">${{ ingredient.cost }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section class="container-fluid mt-3">
        <div class="row">
            {% include "charts/inventory_polar_charts.html" %}
        </div>
    </section>
    
{% endblock content %}