{% extends "_base.html" %}

{% block content %}

    <h2 class="display-2 mt-4 mb-5 text-center">Menu Items</h2>

    <section class="container mt-4">

        <div class="container mt-2">
            <div class="row">
                {% for menu_item in menu_items %}
                    <div class="col-12 col-lg-4">
                        <div class="card mb-3 border-primary shadow">
                            <div class="card-body bg-primary text-white">
                                <h5 class="card-title fw-bold">{{ menu_item.name }}</h5>
                                <p class="card-text">Price: ${{ menu_item.price }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for item in menu_item.recipe_items.all %}
                                    <li class="list-group-item fst-italic">
                                        {{ item.ingredient.name }} ({{ item.quantity_needed }} {{ item.ingredient.unit }})
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock content %}


                        